<div class="navbar-container">
  <div class="brand">
    <img
      id="brand-img"
      src="{{url_for('static',filename='assets/audit_logo.png')}}"
      alt=""
    />
    <p id="brand-txt"><span id="blue">a</span>udit<span id="blue">t</span></p>
  </div>
  <div class="nav-menu">
    <div class="nav-item i">A propos</div>
    <div class="nav-item i">Feed</div>
    <div class="nav-item i">Historique</div>
    <div class="nav-item">
      <div id="signout">
        se Déconnecter
        <img
          src="{{url_for('static',filename='assets/icons8-sign-out-100.png')}}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
